#hika-stats {
	background: #455a64;
	color: #fff;
	font-size: 14px;
	text-align: center;
	padding: 25px 10px 25px 10px;
}
#hika-stats h3 { padding-bottom: 10px; color: #fff; }
#hika-stats .stat { margin: 0 20px; }
#hika-stats .stat strong { font-size: 18px; font-weight: 600; }

@media only screen and (max-width: 568px) {
  	#hika-stats { padding: 10px; }
	.stat-container .stat { display: block; }
}